<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>爱乒乓协议条款</title>
</head>

<body><p style="text-align:center;"><strong><span style="font-size:24px">《爱乒乓用户协议》</span></strong></p><br>
<p><strong>更新日期：2023 年12月10日 </strong><br><strong>生效日期：2023 年12月17日</strong><br>
    <br><strong>一、导言</strong><br>欢迎来到爱乒乓！<br><strong>本协议中与您的权益（可能）存在重大关系的条款（包括免除爱乒乓责任的条款、限制您权利的条款、争议解决条款及司法管辖条款等），爱乒乓已采用字体加粗等方式来特别提醒您，请您留意重点查阅。请您确保您在使用爱乒乓各项服务前已仔细阅读、充分理解并毫无保留地接受本协议所有条款。</strong><br>1.1
    《爱乒乓用户协议》（下称“本协议”）是您与爱乒乓之间关于使用爱乒乓各项服务的法律协议。“爱乒乓”是指爱乒乓各项服务的运营公司上海匡慧网络科技有限公司及其关联公司。<br>1.2 以及爱乒乓在您使用某一特定服务时，向您公布的其他协议规范、规则、声明、公告、政策等（以下统称“其他爱乒乓规则”）是本协议不可分割的组成部分，您在使用爱乒乓各项服务时应同样遵守。<strong>您接受并同意本协议的行为即视为您同意并接受其他爱乒乓规则，您接受并同意任一其他爱乒乓规则的行为亦视为您接受并同意本协议。</strong><br>1.3
    <strong>如果您对本协议的任何条款表示异议或不接受，您可以选择不进行下载、安装、注册、登录、使用（以下统称“使用”）爱乒乓各项服务。</strong>无论您以何种方式使用爱乒乓各项服务，即视为您已充分理解本协议并承诺作为本协议的一方当事人完全接受本协议的全部条款。<br>1.4
    考虑到互联网服务不断高速发展和演进，您同意爱乒乓有权利对本协议进行修改，若本协议发生增加免除爱乒乓责任或限制您权利的条款等变更，爱乒乓将向您告知协议更新情况。<strong>您应该及时阅读修改后的协议，如果您不同意协议的修改，您可以选择停止使用；如果您选择在本协议修改后继续使用爱乒乓各项服务，则视为您已接受本协议的修改。</strong><br><strong>1.5
        您确认您具备完全民事权利能力和完全民事行为能力，有能力同意并遵守本协议，并对您本协议项下的全部行为独立承担法律责任。若您不具备前述与您行为相适应的民事权利能力和民事行为能力，则应获得法定监护人的知情同意。<u>如您尚未成年，请在法定监护人的陪同下阅读和判断是否同意本协议，请特别注意未成年人条款。未成年人行使和履行本协议项下的权利和义务视为已获得法定监护人的认可。</u></strong><br>
    <br><strong>二、服务说明：</strong><br>2.1 爱乒乓向您提供包括但不限于如下各项服务：<br>2.1.1 爱乒乓网（<a
            href="www.hupu.com" target="">www.hupu.com</a>）及其他由爱乒乓运营的任何网站；<br>2.1.2
    爱乒乓直接运营或与第三方合作运营的包括但不限于PC、平板、手机等全部终端客户端产品，如爱乒乓App等；<br>2.1.3
    爱乒乓运营的爱乒乓会员、爱乒乓币、H币等；<br>2.1.4 爱乒乓直接拥有或运营的服务器、网络存储空间；<br>2.1.5 爱乒乓提供给您的各类增值服务；<br>2.1.6
    爱乒乓提供给您的其他技术和/或服务，具体以爱乒乓实际提供的为准。<br><strong>2.2
        爱乒乓所提供的服务，均限于在上述2.1.1及2.1.2所述平台（以下简称“爱乒乓平台”）内使用，任何以恶意破解等非法手段将爱乒乓所提供的服务与爱乒乓平台分离的行为，皆不属于本协议约定的由爱乒乓提供的服务。由此引起的一切后果由行为人负责，爱乒乓将保留依法追究行为人法律责任的权利。爱乒乓所提供的服务仅供您非商业性使用，您在未经爱乒乓事先书面同意的情况下，不得以商业性目的使用爱乒乓所提供的服务。</strong><br>2.3
    您使用爱乒乓各项服务，可以通过预装、爱乒乓已授权的第三方下载等方式获取爱乒乓客户端应用程序或访问爱乒乓网（<a
            href="www.hupu.com" target="">www.hupu.com</a>）相关网站。若您并非从前述途径，而是通过其他任何途径、渠道、方式获取爱乒乓各项服务的（包括但不限于账号、爱乒乓币、客户端下载等）<strong>，爱乒乓无法保证非官方版本的爱乒乓各项服务能够正常使用，且爱乒乓一经发现亦有权立即对您作出删除、清零、封号等处理，您因此遭受的损失与爱乒乓无关。</strong><br>2.4
    爱乒乓可能为不同的终端设备开发了不同的客户端版本，您应当根据实际设备状况获取、下载、安装合适的版本。为更好的提升用户体验及服务，爱乒乓将不时提供软件或服务更新或改变（包括但不限于软件修改、升级、功能强化、开发新服务、软件替换等），爱乒乓将以包括但不限于系统提示、公告、站内信等方式提示您更新、下载或使用，您有权选择接受更新版本或服务；<strong>如果您不同意或者不接受爱乒乓相关软件或服务的改变，爱乒乓的部分功能可能将受到限制或不能正常使用，若您接受更新版本或服务的，视为同意并接受本协议约束。</strong><br>2.5
    本协议所称“用户”，包括注册获得爱乒乓账号的用户（以下简称“注册用户”）及未注册获得爱乒乓账号的用户（以下简称“非注册用户”）。凡未注册爱乒乓的产品和/或服务的用户，自下载或安装爱乒乓的产品和/或使用爱乒乓各项服务时即自动成为爱乒乓的“非注册用户”。<br>
    <br><strong>三、爱乒乓账号：</strong><br>3.1 您无需注册即可开始使用爱乒乓各项服务，但部分功能或服务可能会受到影响。同时，您也理解，为使您更好地使用爱乒乓各项服务，保障您的账号安全，<strong>某些功能和/或某些单项服务项目（如发布信息、评论、进入爱乒乓推广的游戏等）将要求您按照国家相关法律法规的规定，提供真实的身份信息实名注册并登录后方可使用。</strong>某些场景下，若您是未成年人，爱乒乓可能会依据国家相关法律法规及监管要求限制您的使用行为。<br>3.2
    为了更好的为您提供服务以及确保您的帐户安全，<strong>您同意并授权：爱乒乓可以根据您的手机号码、邮箱、身份证号码、生日、性别、城市、头像、昵称等信息，向全国公民身份号码查询服务中心及其授权的合作伙伴、电信运营商、金融服务机构、第三方有害/欺诈用户查询机构发起用户身份真实性、用户手机号码有效性状态及用户恶意行为历史的查询。</strong><br>3.3
    <strong>您在爱乒乓的注册账号所有权及有关权益均归爱乒乓所有，您完成注册手续后仅享有该账号的使用权（法律法规另有规定的除外）。</strong>您的账号仅限于您本人使用，未经爱乒乓书面同意，禁止以任何形式赠与、借用、出租、转让、售卖、抵押、继承或以其他方式许可他人使用该账号。<strong>如果爱乒乓发现或者有合理理由认为使用者并非账号初始注册人，爱乒乓有权在未通知您的情况下，暂停或终止向该注册账号提供服务，并有权注销该账号，而无需向注册该账号的用户承担法律责任。</strong><br><strong>3.4
        您应妥善保管账号信息、账号密码以及其他与账号相关的信息、资料，加强密码安全性，谨防账号泄露或被盗。<u>如因您自身原因或他人恶意攻击、电信和网通部门的通讯线路故障、网络或电脑故障、系统不稳定或其他不可抗因素，造成账号被盗、账号内信息、资料、数据的变动、灭失或财产损失等，您应立即通知爱乒乓并自行承担相关法律后果，爱乒乓不承担补偿等任何责任。</u></strong><br><strong>3.5
        您因认证信息不真实而导致账号、账号内财产等丢失、减少而无法找回的，爱乒乓不承担任何法律责任。</strong><br>3.6 您同意并承诺做到：<br>3.6.1
    当您的账号或密码遭到未经授权的使用，或者发生任何安全问题时，您会立即有效地通知到爱乒乓；<br>3.6.2
    当您每次登录爱乒乓或使用相关服务后，会将有关账号等安全退出；<br>3.6.3 您同意接受爱乒乓通过电子邮件、客户端、网页或其他合法方式向您发送通知信息和其他相关信息。<br>3.7
    您理解并承诺，您应对注册获得的爱乒乓账号项下的一切行为承担全部责任，您所设置的账号（包括但不限于账号名称、头像、简介等注册信息、其他个人信息、账号使用行为等）不得违反国家法律法规及爱乒乓的相关规则，不得实施任何侵害国家利益、侵犯包括但不限于爱乒乓在内的任何主体的合法权益，有害社会道德风尚的行为，且不存在如下情形：<br>3.7.1
    冒用他人信息为自己注册爱乒乓账号；<br>3.7.2 未经他人合法授权以他人名义注册爱乒乓账号； <br>3.7.3
    使用同一身份认证信息注册多个爱乒乓账号（包括经爱乒乓审核认定多个爱乒乓账号的实际控制人为同一人的情形）；<br>3.7.4
    频繁注册爱乒乓账号、批量注册爱乒乓账号、建立虚假账号；<br>3.7.5
    窃取、盗用他人的爱乒乓账号、爱乒乓币、头像、皮肤、挂件、会员标识等；<br>3.7.6 使用侮辱、诽谤、色情、政治等违反法律、道德及公序良俗的词语注册爱乒乓账号；<br>3.7.7
    以非法占有爱乒乓相关服务资源为目的，通过正当或非正当手段恶意利用网站漏洞；<br>3.7.8 侵犯他人合法权益的其他内容。<br>3.8
    在注册、使用和管理账号，您应保证注册账号时填写的身份信息的真实性和准确性，<strong>若您提交的材料或提供的信息不准确、不真实、不合法或者爱乒乓有理由怀疑为错误、不实或不合法的资料，则您可能无法使用爱乒乓相关软件或服务，或在使用过程中部分功能受到限制。</strong><br>3.9
    除自行注册爱乒乓账号外，您也可授权使用您合法拥有的包括但不限于爱乒乓和/或其关联公司其他软件用户账号，以及实名注册的第三方软件用户账号登录使用爱乒乓软件及相关服务，但第三方软件或平台对此有限制或禁止的除外。当您以前述已有账号登录使用的，应保证相应账号已进行实名注册登记，并同样适用本协议中的相关条款。<br>3.10您理解并同意，除您登录、使用爱乒乓软件及相关服务外，您还可以用爱乒乓账号登录使用爱乒乓及其部分关联公司或合作的第三方提供的其他软件、服务。您以爱乒乓账号登录并使用前述服务时，将受到前述服务的实际提供方的《用户协议》及其他协议条款约束。<br>3.11在丢失账号或遗忘密码时，您可电脑登录爱乒乓点击首页右上角“登录”-“忘记密码”并根据提示重置密码；或可在爱乒乓APP“更多”-“意见反馈”联系客服帮助您找回账号或密码。<strong>您理解并认可，爱乒乓的账号或密码找回机制仅需要您绑定的手机/邮箱输入验证码或您向客服提交的信息与系统记录资料具有一致性，而无法识别申诉找回账号或密码的是否系真正账号有权使用者。爱乒乓特别提醒您应妥善保管您的账号和密码，以及用于账号验证的手机/邮箱。</strong><br><strong>3.12为提高您内容曝光量及发布效率，您同意您在爱乒乓的账号所发布的全部内容均授权爱乒乓以您的账号自动同步发布至爱乒乓及/或关联公司、第三方运营的其他软件及网站。您在爱乒乓发布、修改、删除内容的操作，均会同步到上述系列其他软件及网站。</strong><br><strong>3.13
        您理解并同意，为了充分使用账号资源，如您在注册后未及时进行初次登录使用或连续超过一年未登录账号使用等情形下，爱乒乓有权在法律允许的范围内收回您的账号使用权，或限制您使用全部或部分功能，而无需另行通知您亦无需征得您的同意。</strong><br>3.14
    如爱乒乓发现您违反前述规定，爱乒乓有权采取不予注册、通知限期改正、暂停使用、封号、注销登记等措施，并对相关违法或不良信息进行处理，同时向互联网信息内容主管部门报告。<strong>爱乒乓依照本协议、相关规则限制您使用账号全部或部分功能的，可能会给您造成一定的损失，您理解该损失由您自行承担，爱乒乓不承担责任。</strong><br>
    <br><strong>四、用户行为规范</strong><br><strong>4.1 用户在使用爱乒乓各项服务过程中，应遵守以下法律法规：</strong><br>（1）《中华人民共和国保守国家秘密法》；<br>（2）《中华人民共和国著作权法》；<br>（3）《中华人民共和国计算机信息系统安全保护条例》；<br>（4）《计算机软件保护条例》；<br>（5）《网络信息内容生态治理规定》；<br>（6）《信息网络传播权保护条例》；<br>（7）《中华人民共和国网络安全法》；<br>（8）其他法律、法规、规章、条例等具有法律效力的规范。<br><strong>4.2
        除非法律允许或者经爱乒乓事先书面许可，您使用爱乒乓各项服务不得具有下列行为：</strong><br>4.2.1
    利用或针对爱乒乓各项服务进行任何危害计算机网络安全的行为，包括但不限于：<br>（1）使用未经许可的数据或进入未经许可的服务器/帐户；<br>（2）未经允许进入公众计算机网络或者他人计算机系统并删除、修改、增加存储信息；<br>（3）未经许可，企图探查、扫描、测试爱乒乓各项服务的系统或网络的弱点或实施其他破坏网络安全的行为；<br>（4）企图干涉、破坏爱乒乓各项服务的系统或网站的正常运行，故意传播恶意程序或病毒以及其他破坏干扰正常网络信息服务的行为；<br>（5）非法侵入他人网络、干扰他人网络正常功能、窃取网络数据等危害网络安全的活动；<br>（6）提供专门用于从事侵入网络、干扰网络正常功能及防护措施、窃取网络数据等危害网络安全活动的程序、工具；<br>（7）伪造TCP/IP数据包名称或部分名称；<br>（8）危害计算机网络安全的其他行为。<br>4.2.2
    使用未经爱乒乓授权或许可的任何软件、插件、外挂、系统或第三方工具对爱乒乓相关软件或服务的正常运行进行干扰、破坏、修改或施加其他影响。<br>4.2.3
    对爱乒乓各项服务进行反向工程、反向汇编、编译或者以其他方式尝试发现本软件的源代码。<br>4.2.4
    未经爱乒乓事先明确书面许可，以任何方式（包括但不限于机器人软件、蜘蛛软件、爬虫软件等任何自动程序、脚本、软件）和任何理由自行或委托他人、协助他人获取平台的服务、内容、数据（亦不可擅自编辑修改后使用）。<br>4.2.5
    提交、制作、上传、复制、发布、传播或转载以下内容：反对宪法所确定的基本原则的；危害国家安全；泄露国家秘密，颠覆国家政权，煽动分裂国家，破坏国家统一，宣扬恐怖主义、极端主义的；歪曲、丑化、亵渎、否定英雄烈士事迹和精神，以侮辱、诽谤或者其他方式侵害英雄烈士的姓名、肖像、名誉、荣誉；损害国家荣誉和利益的；煽动民族仇恨、民族歧视，破坏民族团结的；破坏国家宗教政策，宣扬邪教和封建迷信的；从事违法宗教活动，发布讲经讲道或者转发、链接相关内容，违规开展宗教教育培训，以宗教名义开展募捐，或以文字、图片、音视频等方式直播或者录播拜佛、烧香、受戒、诵经、礼拜、弥撒、受洗等宗教活动；散布谣言，扰乱社会秩序，破坏社会稳定的；散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；未获他人允许，偷拍、偷录他人，侵害他人合法权利的；包含恐怖、暴力血腥、高危险性、危害表演者自身或他人身心健康内容的；对他人进行暴力恐吓、威胁，实施人肉搜索的，侮辱或者诽谤他人，侵害他人隐私权、名誉权、肖像权、知识产权、商业秘密等合法权益的；含有任何性或性暗示的；含有辱骂、恐吓、威胁内容的；含有骚扰、垃圾广告、恶意信息、诱骗信息的；散布商业广告，或类似的商业招揽信息、过度营销信息及垃圾信息；利用党旗、党徽、国旗、国徽、国歌等代表党和国家形象的标识及内容，或者借国家重大活动、重大纪念日和国家机关及其工作人员名义等，违法违规开展网络商业营销活动；使用本网站常用语言文字以外的其他语言文字评论的；与所评论的信息毫无关系的；所发表的信息毫无意义的，或刻意使用字符组合以逃避技术审核的；含有其他干扰本服务正常运营和侵犯其他用户或第三方合法权益内容的信息；含有法律、行政法规禁止的其他内容的信息。<br>4.2.6
    以任何方式危害未成年人合法权益或损害其身心健康的；<br>4.2.7 冒充任何人或机构，或以虚假不实的方式谎称或使人误认为与任何人或任何机构有关；<br>4.2.8
    伪造标题或以其他方式操控识别资料，使人误认为该内容为爱乒乓所传送；<br>4.2.9 无权传送的内容（例如内部资料、机密资料）进行上载、张贴、发送电子邮件或以其他方式传送；<br>4.2.10
    将侵犯任何人的专利、商标、著作权、商业秘密等知识产权的内容加以上载、张贴、发送电子邮件或以其他方式传送；<br>4.2.11
    将广告函件、促销资料、"垃圾邮件"等，加以上载、张贴、发送电子邮件或以其他方式传送；<br>4.2.12跟踪或以其他方式骚扰他人；<br>4.2.13
    强制、诱导其他用户关注、点击链接页面或分享信息的；<br>4.2.14 虚构事实、隐瞒真相以误导、欺骗他人的；<br>4.2.15
    利用爱乒乓各项服务从事任何违法犯罪活动的；<br>4.2.16 制作、发布与以上行为相关的方法、工具，或对此类方法、工具进行运营或传播，无论这些行为是否为商业目的；<br>4.2.17
    违反法律法规、本协议、爱乒乓的相关规则及侵犯他人合法权益或合理使用爱乒乓相关软件或服务之外的其他不当行为。<br>4.3
    您制作、发布、传播的内容<strong>不得利用基于深度学习、虚拟现实等的新技术新应用制作、发布、传播虚假新闻信息等法律法规禁止的信息内容。您在发布或传播利用基于深度学习、虚拟现实等的新技术新应用制作的非真实文字、图片、音视频信息时，应当以显著方式予以标识，否则爱乒乓有权对相关内容和账户采取包括但不限于增加标识、限制、封禁等措施。</strong><br><strong>4.4
        爱乒乓有权对用户使用爱乒乓各项服务的情况进行审查和监督，如爱乒乓有理由认为用户在使用爱乒乓各项服务时违反上述任何规定，爱乒乓或其授权的人或机构在任何时候有权进行独立判断并采取技术手段予以删除、屏蔽、断开链接，无需任何通知，同时，爱乒乓有权视用户的行为性质，采取包括但不限于暂停或终止服务，限制、冻结或终止爱乒乓账号使用，追究相关法律责任等措施。</strong><br><strong>4.5
        您就在平台上从事的个人行为承担全部法律责任。因您违反法律规定或本协议规定造成违约、侵犯第三方合法权益、违反社会治安或者行政管理乃至涉嫌犯罪的，由您自行承担相应的民事、行政和刑事法律责任。如果给爱乒乓或平台造成损失，爱乒乓有权向您追偿其因此所遭受的全部损失、包括其直接损失、间接损失、预期利益损失等损失。</strong><br>
    <br><strong>五、爱乒乓上的内容</strong><br>5.1
    未经爱乒乓书面许可，<strong>您不得自行或授权、允许、协助任何第三人对本协议爱乒乓各项服务中信息内容进行如下行为</strong>：<br>5.1.1
    复制、读取、采用爱乒乓各项服务的信息内容，用于包括但不限于宣传、增加阅读量、浏览量等商业用途；<br>5.1.2
    擅自编辑、整理、编排爱乒乓各项服务的信息内容后在爱乒乓软件及相关服务的源页面以外的渠道进行展示；<br>5.1.3
    采用包括但不限于特殊标识、特殊代码等任何形式的识别方法，自行或协助第三人对爱乒乓软件各项服务的信息内容产生流量、阅读量引导、转移、劫持等不利影响；<br>5.1.4
    其他非法获取或使用爱乒乓各项服务的信息内容的行为。<br>5.2
    经爱乒乓书面许可后，<strong>您对爱乒乓各项服务的信息内容的分享、转发等行为，还应符合以下规范</strong>：<br>5.2.1
    对抓取、统计、获得的相关搜索热词、命中率、分类、搜索量、点击率、阅读量等相关数据，未经爱乒乓事先书面同意，不得将上述数据以任何方式公示、提供、泄露给任何第三人；<br>5.2.2
    不得对爱乒乓各项服务的源网页进行任何形式的任何改动，包括但不限于爱乒乓各项服务的首页（profile页面）链接，广告系统链接等入口，也不得对爱乒乓各项服务的源页面的展示进行任何形式的遮挡、插入、弹窗等妨碍；<br>5.2.3
    应当采取安全、有效、严密的措施，防止爱乒乓各项服务的信息内容被第三方通过包括但不限于“蜘蛛（spider）”程序等任何形式进行非法获取；<br>5.2.4
    不得把相关数据内容用于爱乒乓书面许可范围之外的目的，进行任何形式的销售和商业使用，或向第三方泄露、提供或允许第三方为任何方式的使用；<br>5.2.5
    向任何第三人分享、转发、复制爱乒乓各项服务信息内容的行为，应当遵守爱乒乓为此制定的其他规范和标准。<br> <br><strong>六、
        第三方链接</strong><br><strong>爱乒乓各项服务可能会提供与其他国际互联网网站或资源进行链接。除非另有声明，爱乒乓无法对第三方网站之服务进行控制，用户因使用或依赖上述网站或资源所产生的损失或损害，爱乒乓不承担任何责任。我们建议您在离开爱乒乓，访问其他网站或资源前仔细阅读其服务条款和隐私政策。</strong><br>
    <br><strong>七、用户个人信息保护：</strong><br>7.1
    爱乒乓注重保护用户的个人信息及个人隐私。个人信息是指以电子或者其他方式记录的能够单独或者与其他信息结合识别特定自然人身份或者反映特定自然人活动情况的各种信息。您在下载、安装、启动、浏览、注册、登录、使用爱乒乓各项服务时，爱乒乓将按照平台公布的《爱乒乓个人信息保护指引》的约定处理和保护您的个人信息及个人隐私，因此希望您能够仔细阅读、充分理解《爱乒乓个人信息保护指引》的全文，并在需要时，按照《爱乒乓个人信息保护指引》的指引，作出您认为适当的选择。<br><strong>7.2
        您应当在仔细阅读、充分理解《爱乒乓个人信息保护指引》后使用爱乒乓各项服务，如果您不同意政策的内容，将可能导致爱乒乓各项服务无法正常运行，或者无法达到爱乒乓拟达到的服务效果。您使用或继续使用爱乒乓各项服务的行为，都表示您充分理解和同意《爱乒乓个人信息保护指引》（包括更新版本）的全部内容。</strong><br>7.3
    如您对《爱乒乓个人信息保护指引》或对您的个人信息相关内容有任何问题（包括问题咨询、投诉等），您可通过《爱乒乓个人信息保护指引》公布的联系方式联系我们。<br>
    <br><strong>八、 知识产权</strong><br>8.1 <strong>爱乒乓各项服务中提供的内容（包括但不限于软件、技术、程序、网页、文字、图片、图像、音频、视频、图表、版面设计、电子文档等）的知识产权属于爱乒乓所有。</strong>爱乒乓提供爱乒乓各项服务时所依托的软件的著作权、专利权及其他知识产权均归爱乒乓所有。未经爱乒乓许可，任何人不得擅自使用（包括但不限于通过任何机器人、“蜘蛛”等程序或设备监视、复制、修改、翻译、改编、传播、展示、镜像、上载、下载）爱乒乓各项服务中的内容。<br><strong>8.2
        爱乒乓为爱乒乓各项服务开发、运营提供技术支持，并对爱乒乓各项服务的开发和运营等过程中产生的所有数据和信息等享有法律法规允许范围内的全部权利。</strong><br>8.3
    <strong><u>请您在任何情况下都不要私自使用爱乒乓的包括但不限于“爱乒乓”、“爱乒乓网”、“hupu”、“JR”和“www.hupu.com”等在内的任何商标、服务标记、商号、域名、网站名称或其他显著品牌特征等（以下统称为“标识”）。</u>未经爱乒乓事先书面同意，您不得将本条款前述标识以单独或结合任何方式展示、使用或申请注册商标、进行域名注册等，也不得实施向他人明示或暗示有权展示、使用、或其他有权处理该些标识的行为。由于您违反本协议使用爱乒乓上述商标、标识等给爱乒乓或他人造成损失的，由您承担全部法律责任。</strong><br><strong>8.4
        爱乒乓许可您个人自用地、不可转让地、非独占地和非商业地合法使用爱乒乓各项服务的权利。本协议未明示授权的其他一切使用爱乒乓各项服务的权利仍由爱乒乓保留，您在行使该些权利时须另行获得爱乒乓的书面许可，同时爱乒乓如未行使前述任何权利，并不构成对该权利的放弃。</strong><br>8.5
    爱乒乓尊重和鼓励用户创作、分享内容。<strong>您理解并承诺，在使用爱乒乓各项服务时上传、发布的内容（包括但不限于文字、图片、音频、视频、直播等各种形式的内容及其中包含的音乐、声音、对话、台词、视觉设计等所有组成部分）均由您原创或已获合法授权（含转授权）。您通过爱乒乓各项服务上传并发布的任何内容的知识产权归属您或原始著作权人所有。</strong><br><strong>8.6
        <u>您理解并同意，为使您的作品得到更好的分享及推广，对于您通过爱乒乓各项服务上传、发布、传播的内容之全部或部分，您授予爱乒乓一项在全球范围内的、永久、免费、不可撤销、非独家、可再许可（多层次）的权利，爱乒乓有权自行或许可第三方复制、修改、改编、翻译、据以创作衍生作品、传播、表演和展示此等内容（整体或部分），或用于与该等内容、爱乒乓平台、爱乒乓品牌有关的宣传、推广、广告营销及相关研究中。</u></strong><br><strong>8.7
        您确认并同意授权爱乒乓以自己的名义或委托专业第三方对侵犯您上传发布的享有知识产权的内容进行代维权，维权形式包括但不限于：监测侵权行为、发送维权函、提起诉讼或仲裁、调解、和解等，爱乒乓有权对维权事宜做出决策并独立实施，并获得依据中华人民共和国法律可获得的救济。</strong><br>
    <br><strong>九、广告及信息展示</strong><br>9.1 您使用爱乒乓各项服务过程中，充分理解并同意：<strong>本服务中可能包括爱乒乓针对个人或企业推出的信息、广告发布或品牌推广服务，您同意爱乒乓有权在爱乒乓各项服务中展示爱乒乓和/或第三方供应商、合作伙伴的商业广告、推广或信息（包括商业或非商业信息）以及向您发送营销短信及站内信。</strong><br><strong>9.2
        <u>在使用爱乒乓各项服务时，爱乒乓会基于偏好、兴趣等方面向您推送程序化广告，您可以在爱乒乓客户端的设置中关闭程序化广告的推送，如果关闭，您看到的广告数量将保持不变，但广告的相关性会降低。更多内容，可参见《爱乒乓个人信息保护指引》。</u></strong><br>9.3
    如您不同意任何一则广告，您有权选择点击该广告右上角的“X”关闭该广告信息或停止使用爱乒乓各项服务。您亦可以退订我们发送给您的营销短信（如有）。<br><strong>9.4
        <u>在使用爱乒乓各项服务时，爱乒乓为向您发送通知和/或展示热点信息及商业广告，可能会向您提供弹窗信息推送服务。如您不希望收到此类弹窗信息推送，可以在爱乒乓客户端的设置中，关闭相关通知，或在相应页面点击“X”关闭该信息。更多内容，可参见《爱乒乓个人信息保护指引》。</u></strong><br><strong>9.5
        <u>爱乒乓依照法律规定履行广告及推广相关义务，您应当自行判断该广告或推广信息的真实性和可靠性并为自己的判断行为负责。除法律法规明确规定外，您因该广告或推广信息进行的购买、交易或因前述内容遭受的损害或损失，您应自行承担，爱乒乓不予承担责任。</u></strong><br>
    <br><strong>十、违约处理</strong><br><strong>10.1 如果爱乒乓发现或收到他人举报或投诉您违反本协议约定的，<u>爱乒乓有权独立判断并视情况采取预先警示、拒绝发布、对用户资料/聊天内容/交易记录等进行审查、立即停止传输信息、删除内容/评论、短期封禁、短期禁止发布内容/评论、限制账号部分或者全部功能直至终止提供服务、永久关闭账号等措施，对于因此而造成您无法正常使用账号及爱乒乓各项服务、无法正常获取您账号内资产或其他权益等后果，爱乒乓不承担任何责任。</u>若您因违反本协议约定而被永久封禁后不会自动解封，被封禁后您可以向爱乒乓提交申诉，爱乒乓将对申诉进行审查，并自行合理判断决定是否解封。<u>爱乒乓有权公告处理结果，且有权根据实际情况决定是否恢复相关账号的使用。</u>对涉嫌违反法律法规、涉嫌违法犯罪的行为，爱乒乓将保存有关记录，并有权依法向有关主管部门报告、配合有关主管部门调查、向公安机关报案等。对已删除内容爱乒乓有权不予恢复。</strong><br>
    <br><strong>10.2 因您违反本协议或其他服务条款规定，引起第三方投诉或诉讼索赔的，您应当自行处理并承担全部可能由此引起的法律责任。<u>因您的违法、侵权或违约等行为导致爱乒乓及其关联方、控制公司、继承公司向任何第三方赔偿或遭受国家机关处罚的，您还应足额赔偿爱乒乓及其关联方、控制公司、继承公司因此遭受的全部损失。</u></strong><br>
    <br><strong>10.3
        爱乒乓尊重并保护用户及他人的知识产权、名誉权、姓名权、隐私权等合法权益，爱乒乓有权但无义务对您上传、发布的内容进行前述权益的相关审核，您应保证，在使用爱乒乓各项服务时上传的文字、图片、视频、音频、链接等不侵犯任何第三方的知识产权、名誉权、姓名权、隐私权等权利及合法权益。<u>否则，爱乒乓有权依据独立判断，或者在收到权利方或者相关方通知的情况下移除该涉嫌侵权内容。针对第三方提出的全部权利主张，您应自行处理并承担全部可能由此引起的法律责任；如因您的侵权行为导致爱乒乓及其关联方、控制公司、继承公司遭受损失的（包括经济、商誉等损失），您还应足额赔偿爱乒乓及其关联方、控制公司、继承公司遭受的全部损失。</u></strong><br>
    <br><strong>十一、免责声明</strong><br>11.1
    <u>您理解并同意，爱乒乓各项服务可能会受多种因素的影响或干扰，爱乒乓不保证（包括但不限于）</u>：<br><strong>11.1.1
        爱乒乓各项服务完全适合您的使用要求；</strong><br><strong>11.1.2
        爱乒乓各项服务不受干扰，及时、安全、可靠或不出现任何错误；您经由爱乒乓取得的任何软件、服务或其他材料符合您的期望；</strong><br><strong>11.1.3
        爱乒乓各项服务中任何错误都将能得到更正。</strong><br><strong>11.2 <u>爱乒乓上公开发布或私下传输的任何信息或内容均由该内容的来源者承担全部责任，您访问所有此类信息和内容的风险由您自行承担，爱乒乓无法控制也没有义务就您如何理解和使用内容，或您因接触内容而可能采取的行动，而采取措施。爱乒乓无法保证与您互动的任何用户的身份，也不对哪些用户访问服务负责。如果服务涉及专业信息（例如金融、教育、医疗卫生、司法等领域），则此类信息仅供参考，不应被视为专业建议，您应审慎判断其中包含的任何信息再采取任何行动，如有必要，您应该向在所涉领域获得许可及/或有资格的人员寻求独立的专业建议。如有涉嫌借款、投融资、理财或其他涉财产的网络信息、账户密码、广告或推广等信息，请您谨慎对待并自行进行判断，对您因此遭受的利润、商业信誉、资料损失或其他有形或无形损失，爱乒乓不承担任何直接、间接、附带、特别、衍生性或惩罚性的赔偿责任。</u></strong><br><strong>11.3
        您理解并同意，在使用爱乒乓各项服务过程中，可能遇到不可抗力等因素（不可抗力是指不能预见、不能克服并不能避免的客观事件），包括但不限于自然灾害(如洪水、地震、台风等)、政府行为、战争、罢工、骚乱等。出现不可抗力情况时，爱乒乓将努力在第一时间及时修复，但因不可抗力造成的暂停、中止、终止服务或造成的任何损失，爱乒乓在法律法规允许范围内免于承担责任。</strong><br><strong>11.4
        爱乒乓依据本协议约定获得处理违法违规内容的权利，该权利不构成爱乒乓的义务或承诺，爱乒乓不能保证及时发现违法行为或进行相应处理。</strong><br><strong>11.5
        您理解并同意，关于爱乒乓各项服务，爱乒乓不提供任何种类的明示或暗示担保或条件，包括但不限于商业适售性、特定用途适用性等。您对爱乒乓各项服务的使用行为应自行承担相应风险。</strong><br><strong>11.6
        您理解并同意，本协议旨在保障遵守国家法律法规、维护公序良俗，保护用户和他人合法权益，爱乒乓在能力范围内尽最大的努力按照相关法律法规进行判断，但并不保证爱乒乓判断完全与司法机关、行政机关的判断一致，如因此产生的后果您已经理解并同意自行承担。</strong><br><strong>11.7
        在任何情况下，爱乒乓均不对任何间接性、后果性、惩罚性、偶然性、特殊性或刑罚性的损害，包括因您使用爱乒乓各项服务而遭受的利润损失，承担责任。除法律法规另有明确规定外，爱乒乓对您承担的全部责任，无论因何原因或何种行为方式，始终不超过您在使用爱乒乓各项服务期间支付给爱乒乓的费用（如有）。</strong><br>
    <br> <br><strong>十二、服务的变更、中断、终止</strong><br><strong>12.1
        您理解并同意，爱乒乓基于经营策略的调整，可能会对服务内容进行变更，也可能会中断、中止或终止服务。</strong><br><strong>12.2
        您理解并同意，如爱乒乓发生合并、分立、收购、资产转让时，爱乒乓可向第三方转让本服务下相关资产；爱乒乓亦可在单方通知您后，将本协议下部分或全部服务及相应的权利义务转交由第三方运营或履行。</strong><br><strong>12.3
        您理解并同意，如您在使用爱乒乓各项服务时存在违反法律法规、本协议及其他爱乒乓规则、社会公德、公序良俗和/或侵害他人合法权益等情形，并因此影响或可能影响爱乒乓和/或他人的名誉、声誉或其他合法权益，爱乒乓有权不经通知而单方中断或终止向您提供全部或部分服务。</strong><br><strong>12.4
        爱乒乓终止向您提供服务后，有权根据适用法律的要求删除您的个人信息，或使其匿名化处理，亦有权依照法律规定的期限和方式继续保存您留存于我方平台的其他内容和信息。</strong><br>
    <br><strong>十三、注销</strong><br>13.1 用户有权向爱乒乓提出账号注销申请，您可以自主或通过联系爱乒乓客服注销您的账号（法律法规、本协议或其他爱乒乓规则另有规定的除外）。<br><strong>13.2
        特别提醒：注销爱乒乓账号后，您将无法再以此账号登录和使用爱乒乓的所有产品与服务以及产品及服务中与第三方合作的服务内容，爱乒乓也将同时终止在该账号下为您提供我们各项产品与服务，这同时也不可避免地会给您的售后维权带来不便（如有），且爱乒乓账号一旦注销完成，将无法恢复，请您在注销前慎重考虑。</strong><br><strong>13.3
        如您确定需要注销爱乒乓账号的，您已充分知晓并确认，账号注销后该PUID仍然存在，但您将不再拥有账号相关的权益，包括但不限于：</strong><br>13.3.1
    账号注销后，您将无法再以该账号登录、使用爱乒乓各项服务；<br>13.3.2
    账号注销后，您曾通过该账号登录、使用爱乒乓各项服务的所有内容、信息、数据、记录将会被删除或匿名化处理，您也无法再搜索、访问、获取、使用和找回，包括但不限于：账号信息（头像、昵称等）、绑定信息等；<br>13.3.3
    账号注销后，该账号内的财产权益、交易记录将被清空且无法恢复；<br>13.3.4 账号注销后，爱乒乓有权不再为用户提供任何与账号有关的服务；<br>13.3.5
    <strong>您同意通过账号注销的方式放弃该账号在爱乒乓各项服务使用期间已产生但未消耗完毕的权益及未来的预期利益。爱乒乓将对该账号下的全部权益做清除处理，包括但不限于：您尚未到期的爱乒乓会员权益、头像挂件、皮肤、您在爱乒乓各项服务中的各类身份权益、财产权益、您在爱乒乓各项服务中已经购买的未到期的在线服务内容、其他已经产生但未消耗完毕的权益或未来预期的利益。</strong><br><strong>13.4
        在您向我们申请注销爱乒乓账号之前，为了保护您的账号安全和财产权益，您需先行检查与确保您申请注销的账号已经同时满足以下条件，包括但不限于：</strong><br>13.4.1
    账号系用户通过官方渠道注册，符合本协议及相关规定的账号，且为您本人的账号；<br>13.4.2 按照客服要求的注销流程进行注销操作及/或提供必要证明材料；<br>13.4.3
    账号处于安全状态，包括：未处于申请找密码、修改手机号的状态中；无未处理完毕的（被）投诉、举报；其他不安全/异常状态；<br>13.4.4
    账号内无未处理完毕的交易；<br>13.4.5 账号内无您发起的但尚未完成的抽奖活动；<br>13.4.6
    账号与爱乒乓全部业务都不存在合约关系或尚在合约期的（如签约写手等）；<br>13.4.7 如账号曾开通了“连续包月/包季/包年”服务的，您已经自行取消该服务；<br>13.4.8
    其他应满足的条件。<br>13.5
    如您已充分阅读并理解13.2和13.3条的内容，并确认已经满足13.4条的全部条件，可以自主或向客服提出账号注销申请。爱乒乓将对您的账号安全状态以及您的相关产品与服务的使用情况等进行审核，综合判断您的账号是否符合条件。<br><strong>13.6
        爱乒乓账号一旦注销，您与我们曾签署过的相关用户协议、其他权利义务性文件等相应终止（但已约定继续生效的或法律另有规定的除外）。同时，您知悉并同意：即使您的账号被注销，也并不减轻或免除您在协议期间内应根据相关法律法规、相关协议、规则等（可能）需要承担的相关责任。</strong><br>
    <br><strong>十四、关于单项服务与第三方服务的特殊约定</strong><br>14.1
    爱乒乓各项服务中包含爱乒乓以各种合法方式获取的信息或信息内容链接，同时也包括爱乒乓和/或其关联方合法运营的其他单项服务。这些服务在爱乒乓各项服务中可能以单独板块形式存在。爱乒乓有权不时地增加、减少或改动这些特别板块的设置及服务。<br><strong>14.2
        您可以在爱乒乓各项服务中开启和使用上述单项服务。<u>某些单项服务可能需要您同时接受就此特别制订的协议或者其他约束您与该单项服务提供者之间的规则，必要时在您计划使用前述单项服务时以醒目的方式向您提供这些协议、规则，供您查阅。一旦您开始使用上述服务，则视为您理解并接受有关单项服务的相关协议、规则的约束。</u>如未标明使用期限、或未标明使用期限为“永久”、“无限期”或“无限制”的，则这些产品或服务的使用期限为自用户开始使用该产品或服务至该产品或服务在爱乒乓各项服务中下线之日为止。</strong><br><strong>14.3如您在爱乒乓各项服务中使用第三方提供的软件或相关服务时，除遵守本协议及爱乒乓各项服务中其他相关规则外，还可能需要同意并遵守第三方的协议、政策及相关规则。<u>如因第三方软件及相关服务产生的争议、损失或损害，由您自行与第三方自行解决，爱乒乓并不就此而对您或任何第三方承担任何责任。</u></strong><br><strong>14.4
        <u>特别地，如您在爱乒乓各项服务中使用第三方金融服务，包括但不限于支付、保险、借贷等，请认真了解该服务的内容，充分阅读并同意相关协议条款。</u></strong><br>
    <br><strong>十五、未成年人使用条款</strong><br><strong><u>15.1
        若您是未满18周岁的未成年人，您应在监护人监护、指导并获得监护人同意的情况下，认真阅读并同意本协议后，方可使用爱乒乓各项服务。</u></strong><br><strong>15.2
        法定监护人应指导未成年子女上网应该注意的安全问题，防患于未然。<u>爱乒乓不鼓励未成年人使用爱乒乓各项服务进行任何消费行为，如有消费，未成年人应以法定监护人名义申请消费或在法定监护人明示同意下操作。未成年人使用爱乒乓各项的行为即视为已获得了法定监护人认可。</u></strong><br><strong><u>15.3
        未成年用户及其监护人理解并确认，如因您违反法律法规、本协议内容，则您及您的监护人应依照法律规定承担因此而可能导致的全部法律责任。</u></strong><br><strong>15.4
        爱乒乓重视对未成年人个人信息的保护，未成年用户在填写个人信息时，请加强个人保护意识并谨慎对待，并应在取得监护人的同意以及在监护人指导下正确使用爱乒乓各项服务。</strong><br><strong><u>15.5
        为更好地保护未成年人个人信息及隐私权益，爱乒乓将严格按照平台公布的《爱乒乓个人信息保护指引》中阐述的方式、方法执行。同时，爱乒乓提醒您，慎重发布包含未成年人素材的内容，一经发布，即视为您已获得权利人同意在爱乒乓各项服务中展示未成年人的肖像、形象、声音等信息，且允许爱乒乓依据本协议使用、处理该等与未成年人相关的内容。</u></strong><br><strong>15.6
        青少年用户特别提示：</strong><br><strong>15.6.1
        青少年使用爱乒乓各项服务应该在其监护人的监督指导下，在合理范围内正确学习使用网络，避免沉迷虚拟的网络空间，养成良好上网习惯。</strong><br><strong>15.6.2
        青少年用户必须遵守《全国青少年网络文明公约》：</strong><br><strong>（1）要善于网上学习，不浏览不良信息；</strong><br><strong>（2）要诚实友好交流，不侮辱欺诈他人；</strong><br><strong>（3）要增强自护意识，不随意约会网友；</strong><br><strong>（4）要维护网络安全，不破坏网络秩序；</strong><br><strong>（5）要有益身心健康，不沉溺虚拟时空。</strong><br>
    <br><strong>十六、协议的修改与通知</strong><br>16.1 爱乒乓有权依据国家政策、技术条件、产品功能等变化需要而对本协议进行修改并将修改后的协议予以发布。<br>16.2
    前述内容一经正式发布，爱乒乓将以适当的方式（包括但不限于弹窗、邮件、站内信、网站公告等）提醒您更新的内容，以便您及时了解本协议的最新版本。<br><strong>16.3
        修改后的内容将构成本协议不可分割的组成部分，您应同样遵守。您对修改后的协议有异议的，请立即停止登录、使用爱乒乓各项服务，若您登录或继续使用爱乒乓各项服务，则视为您已充分阅读、理解并接受更新后的本协议并愿意受更新后的本协议的约束。</strong><br>
    <br><strong>十七、其他</strong><br><strong>17.1
        本协议的成立、生效、履行、解释及争议的解决均应适用中华人民共和国法律。若本协议之任何规定因与中华人民共和国法律抵触而无效或不可执行，则这些条款应在不违反法律的前提下尽可能按照接近本协议原条文目的之原则进行解释和使用，且本协议其它规定仍应具有完整的效力及效果。</strong><br><strong>17.2
        <u>本协议的签订地为中华人民共和国上海市虹口区。若您与爱乒乓发生任何争议，双方应尽量友好协商解决，如协商不成，您同意应将争议提交至本协议签订地的人民法院诉讼解决。</u></strong><br>17.3本协议中的标题仅为方便及阅读而设，并不影响本协议中任何规定的含义或解释。<br><strong>17.4
        您和爱乒乓均是独立的主体，在任何情况下本协议不构成爱乒乓对您的任何形式的明示或暗示担保或条件，双方之间亦不构成代理、合伙、合营或雇佣关系。</strong><br>17.5
    爱乒乓平台已设立公众投诉、举报渠道，若您在使用爱乒乓各项服务过程中，<strong>发现任何违反本协议及爱乒乓其他相关规则、公告之情形时，可通过如下途径通知爱乒乓：</strong><br><strong>1）通过爱乒乓网页端底部的“意见反馈”，或是爱乒乓APP“我的”页面中的“反馈”，找到客服，联系我们；</strong><br><strong>2）向我们公示的legal@hupu.com邮箱，发送邮件与我们取得联系。</strong><br>爱乒乓将及时处理您的投诉、举报信息，履行营造良好网络空间生态的法律责任。<br>
    <br> <br> <br> <br> <br></p></body>
</html>