<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loong.mapper.BasicInformationMapper">


    <resultMap id="newsCategory" type="com.loong.entity.NewsCategory">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="hots" column="hots" />
    </resultMap>

    <select id="getAllTopics" resultMap="newsCategory">
        select * from interest;
    </select>

    <select id="getKeyWords" parameterType="java.lang.String">
        select title as value, CONCAT("http://localhost:4000/main/news?newsId=",id) as link
        from basic_information
        where title like concat('%',#{keyWord},'%');
    </select>

</mapper>
